header{
    background-color: black;
    color:white;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
    align-items: stretch;
    width: 100%;
}

.name{
    text-align: left;
    padding-left: -100px;
}
body{
    background-color: sienna;
    margin: 0px;
}


.navigation{
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
}

.navigation a{
    display: block;
    padding: 1em;
}

.navigation a:hover{
    background: sienna;
}

.container{
    position: relative;
}

.banner{
    width: 100%;
}

.bannertext{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Info{
    text-align: left;
    width: 75%;
    margin-left: 100px;
}

#inputform{
    margin-left: 100px;
}

.myform{
    margin: 10px;
}