header{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10 10px;
    width: 100%;
    margin: 20px black;
}
body{
    background-color: sienna
}


button:hover{
    background-color:green;
}

button:active{
    background-color: purple;
}

button:focus{
    background-color: orange;
}


input:hover{
    background-color: teal;
}